{% extends 'core/base.html' %}

{% block title %} About Me {% endblock %}

{% block content %}
    <h1>About Me</h1>
    <p>Hello! I'm a software development student currently learning many skills through WeThinkCode. This is my first Django project, where I am building my knowledge of web development, Python, and backend programming. I am excited to continue growing and applying new technologies in real-world projects.</p>
    
    <h2>Skills I'm Learning:</h2>
    <ul>
        <li>Python & Django & Flask</li>
        <li>Java OOP Brownfields</li>
        <li>Web development (HTML, CSS, JavaScript)</li>
        <li>Database management (SQLite, SQLAlchemy)</li>
        <li>Version control (Git & GitHub (gitlab actions))</li>
        <li>Collaborative development with peers</li>
    </ul>
    
    <h2>About WeThinkCode</h2>
    <p>WeThinkCode is a dynamic and innovative academy where I am honing my skills in problem-solving and software development. It's been a great environment for hands-on learning and collaboration.</p>
{% endblock %}
