{% extends 'core/base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}
    
    <div class="contact-page">
        <h1>Contact Information Page</h1>
        <p>If you'd like to get in touch, feel free to reach out to me using the information below:</p>
        
        <div class="contact-details">
            <h3>Name:</h3>
            <p>Inga Maholwana</p>

            <h3>Email:</h3>
            <p><a href="mailto:your-email@example.com">ingamaholwana@gmail.com</a></p>

            <h3>Phone:</h3>
            <p>0607643022</p>

            <h3>Location:</h3>
            <p>Cape Town </p>

            <h3>Social Media:</h3>
            <ul>
                <li><a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn</a></li>
                <li><a href="https://twitter.com/yourprofile" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/yourprofile" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
{% endblock %}    